body {
    color: black;
    background: white;
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 100px;
}

header {
  border-bottom: solid 2px red;
  padding: 20px;
  font-size: 32px;
  color:red;
}

.cabeça {
    background: rgb(255, 47, 47);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.texto{
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.benesuplementos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.rolagem {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.benesuplementos img {
    opacity: 0.5;
    height: 200px;
}

.benesuplementos img:hover{
    opacity: 1.0;
    border: 1px solid red;
}

.rolagem h2 {
    color: red;
}

.cabeça h1{
    color: white;
}

.cabeça p {
    color: white;
}

